<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DK E+I - DB Helper</title>
</head>
<body>
<h3>청년 - 상세 정보</h3>
<a href="youthSearch">검색 페이지로</a>
<hr>
<div th:if="success">
    청년 상세 정보 수정을 성공하였습니다.<br>
    <table border="1" cellpadding="1" th:object="${youth}">
        <tr>
            <td><b>항목</b></td>
            <td><b>내용</b></td>
        </tr>
        <tr>
            <td>청년 이름</td>
            <td th:text="*{youthName}"></td>
        </tr>
        <tr>
            <td>청년 또래</td>
            <td th:text="*{youthPeer}"></td>
        </tr>
        <tr>
            <td>성별</td>
            <td th:text="*{gender}"></td>
        </tr>
        <tr>
            <td>생년월일</td>
            <td th:text="*{birthDate}"></td>
        </tr>
        <tr>
            <td>핸드폰 번호</td>
            <td th:text="*{cellPhone}"></td>
        </tr>
        <tr>
            <td>자택주소</td>
            <td th:text="*{homeAddress}"></td>
        </tr>
        <tr>
            <td>모태신앙여부</td>
            <td th:text="*{isBornChr}"></td>
        </tr>
        <tr>
            <td>자진등록여부</td>
            <td th:text="*{isSelfIn}"></td>
        </tr>
        <tr>
            <td>인도자 성명</td>
            <td th:text="*{guideName}"></td>
        </tr>
        <tr>
            <td>직업 상태</td>
            <td th:text="*{occType}"></td>
        </tr>
        <tr>
            <td>직업</td>
            <td th:text="*{occ}"></td>
        </tr>
        <tr>
            <td>직군</td>
            <td th:text="*{bizType}"></td>
        </tr>
        <tr>
            <td>신급</td>
            <td th:text="*{religionType}"></td>
        </tr>
        <tr>
            <td>교회 등록 날짜</td>
            <td th:text="*{churchRegDate}"></td>
        </tr>
        <tr>
            <td>출석 상태</td>
            <td th:text="*{isAttending}"></td>
        </tr>
        <tr>
            <td>등록 여부</td>
            <td th:text="*{isRegistered}"></td>
        </tr>
    </table>
    <form method="post" action="youthModify">
        <input type="submit" name="modifySubmit" value="상세 정보 수정">
        <input type="hidden" name="youthId" th:value="${youth.youthId}">
    </form>
</div>
<div th:unless="success">
    청년 상세 정보 수정을 실패하였습니다.<br>
</div>
</body>
</html>
