<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DK E+I - DB Helper</title>
</head>
<body>
<h3>청년 소속 정보 - 입력</h3>
<a href="youthOrgSearch">검색 페이지로</a>
<hr>
<form action="youthOrgInsertResult" method="post">
    <table border="1" cellpadding="1">
        <tr>
            <td><b>항목</b></td>
            <td><b>내용</b></td>
        </tr>
        <tr>
            <td>청년 이름</td>
            <td><input type="text" name="youthName"></td>
        </tr>
        <tr>
            <td>청년 또래</td>
            <td><input type="text" name="youthPeer"></td>
        </tr>
        <tr>
            <td>직분</td>
            <td>
                <select name="roleType">
                        <option th:each="roleType : ${roleTypeList}" name="roleTypeOption" th:value="${roleType.RoleCode}" th:text="${roleType.RoleName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>조직</td>
            <td>
                <select name="org">
                        <option th:each="org : ${orgList}" name="orgOption" th:value="${org.orgCode}" th:text="${org.orgName}"></option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="저장">
</form>
</body>
</html>
