spring:
  datasource:
    url: jdbc:mysql://dkeplusi-dev.ct8b9k8eiiqx.ap-northeast-2.rds.amazonaws.com:3306?useUnicode=true&characterEncoding=utf8
    username: dkeplusi
    password: cjdsusqn2017!
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    generate-ddl: false
    show-sql: true
    open-in-view: false
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1

server:
  port:
    8080
  tomcat:
    uri-encoding: utf-8
