<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DK E+I - DB API</title>
</head>
<body>
<h3>청년 관련 메뉴</h3>
<a href="${pageContext.request.contextPath}/youthSearch.do">청년 정보 검색</a><br>
<hr/>

<h3>청년 소속 관련 메뉴</h3>
<a href="${pageContext.request.contextPath}/youthOrgInsert.do">청년 소속 정보 입력</a><br>
<a href="${pageContext.request.contextPath}/youthOrgSearch.do">청년 소속 정보 검색</a><br>
<hr/>
</body>
</html>